* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: gainsboro;
}

/* 
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  z-index: 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 0px;
  transition: opacity 0.5s ease;
}

.text-container p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
  z-index: 5;
}

.text-container button {
  background-color: #b8cab8;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  z-index: 10;
}

.text-container button:hover {
  background-color: #758375;
}

.canva { 
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: transform 0.5s ease;
  z-index: 0;
}

@media (max-width: 767px) {
  .container {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .text-container {
    left: 0;
  }
} */
